body {
    background-color: #3D5A80;
}
.wrapper {
    border: dotted 10px #cbf3f0;
    display: flex;
    justify-content: center;
}
.content-center {
    display: flex;
    justify-content: center;
}
.header-class {
    display: flex;
    justify-content: center;
}
h3 {
    display: flex;
    justify-content: center;
}